p {
  margin-bottom: 2%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

h2 {
  color: #025D75;
}

h3 {
  color: #0071224;
}

body {
  margin-right: 10%;
  margin-left: 10%;
}

.footer {
  background-color: #025D75;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  margin-top: 10%;
  width: 100%;
  text-align: center;
  margin-bottom: 1%;
}

.navbar-default {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #025D75;
  color: white;
}

.navbar-default .navbar-nav>.active>a {
  background-color: #6cacbd;
  color: #025D75;
}

.navbar-default .navbar-nav>li>a {
  background-color: #025D75;
  color: white;
  font-weight: bold;
}

.navbar-default .navbar-brand {
    color: white;
    font-weight: 700;
}

.navbar-default .navbar-nav>.active>a:hover {
  background-color: #6cacbd;
  color: #555;
}

.navbar-default .navbar-nav>.active>a:focus {
  background-color: #6cacbd;
  color: white;
}

#plot-container {
  position: relative;
}
#loading-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  margin-top: -33px;  /* half of the spinner's height */
  margin-left: -33px; /* half of the spinner's width */
}
#plot.recalculating {
  z-index: -2;
}

.donationgif{
  margin-right: 0px;
  margin-left: 0px;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-weight: bold;
    color: grey;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #025D75;
    cursor: default;
    background-color: #6cacbd;
    border: 1.5px solid #fff;
    border-bottom-color: #025D75;
    
}